<h1>List of artists</h1>

<table>
<% @artists.each do |artist| %>
  <tr>


    <td><%= image_tag artist.image, style: 'width: 100px' %></td>
    <td><%= link_to artist.name, artist_path(artist.id) %></td>
    <td><%= link_to "Delete", artist_path(artist), method: :delete, data: { confirm: "Are you sure?" } %></td>


  </tr>
<% end %>
</table>
